<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.application.dao.ApplicationDao">



    <select id="get" resultType="com.bootdo.application.domain.ApplicationDO">
        select `id`,`app_id`,`created`,`updated`,`status`,`user_id`,`app_name`,`app_type`,`app_status`,`app_key`,`app_secret`,`env_type`,`remark`,`app_store`,`android`,`web_site` from application where `id` = #{value}
    </select>

    <select id="list" resultType="com.bootdo.application.domain.ApplicationDO">
        select `id`,`app_id`,`created`,`updated`,`status`,`user_id`,`app_name`,`app_type`,`app_status`,`app_key`,`app_secret`,`env_type`,`remark`,`app_store`,`android`,`web_site` from application
        <where>
            <if test="id != null and id != ''"> and id = #{id} </if>
            <if test="appId != null and appId != ''"> and app_id = #{appId} </if>
            <if test="created != null and created != ''"> and created = #{created} </if>
            <if test="updated != null and updated != ''"> and updated = #{updated} </if>
            <if test="status != null and status != ''"> and status = #{status} </if>
            <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
            <if test="appName != null and appName != ''"> and app_name = #{appName} </if>
            <if test="appType != null and appType != ''"> and app_type = #{appType} </if>
            <if test="appStatus != null and appStatus != ''"> and app_status = #{appStatus} </if>
            <if test="appKey != null and appKey != ''"> and app_key = #{appKey} </if>
            <if test="appSecret != null and appSecret != ''"> and app_secret = #{appSecret} </if>
            <if test="envType != null and envType != ''"> and env_type = #{envType} </if>
            <if test="remark != null and remark != ''"> and remark = #{remark} </if>
            <if test="appStore != null and appStore != ''"> and app_store = #{appStore} </if>
            <if test="android != null and android != ''"> and android = #{android} </if>
            <if test="webSite != null and webSite != ''"> and web_site = #{webSite} </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by `id` desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from application
        <where>
            <if test="id != null and id != ''"> and id = #{id} </if>
            <if test="appId != null and appId != ''"> and app_id = #{appId} </if>
            <if test="created != null and created != ''"> and created = #{created} </if>
            <if test="updated != null and updated != ''"> and updated = #{updated} </if>
            <if test="status != null and status != ''"> and status = #{status} </if>
            <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
            <if test="appName != null and appName != ''"> and app_name = #{appName} </if>
            <if test="appType != null and appType != ''"> and app_type = #{appType} </if>
            <if test="appStatus != null and appStatus != ''"> and app_status = #{appStatus} </if>
            <if test="appKey != null and appKey != ''"> and app_key = #{appKey} </if>
            <if test="appSecret != null and appSecret != ''"> and app_secret = #{appSecret} </if>
            <if test="envType != null and envType != ''"> and env_type = #{envType} </if>
            <if test="remark != null and remark != ''"> and remark = #{remark} </if>
            <if test="appStore != null and appStore != ''"> and app_store = #{appStore} </if>
            <if test="android != null and android != ''"> and android = #{android} </if>
            <if test="webSite != null and webSite != ''"> and web_site = #{webSite} </if>
        </where>
    </select>

    <insert id="save" parameterType="com.bootdo.application.domain.ApplicationDO" useGeneratedKeys="true" keyProperty="id">
        insert into application
        (
        `app_id`,
        `created`,
        `updated`,
        `status`,
        `user_id`,
        `app_name`,
        `app_type`,
        `app_status`,
        `app_key`,
        `app_secret`,
        `env_type`,
        `remark`,
        `app_store`,
        `android`,
        `web_site`
        )
        values
        (
        #{appId},
        #{created},
        #{updated},
        #{status},
        #{userId},
        #{appName},
        #{appType},
        #{appStatus},
        #{appKey},
        #{appSecret},
        #{envType},
        #{remark},
        #{appStore},
        #{android},
        #{webSite}
        )
    </insert>

    <update id="update" parameterType="com.bootdo.application.domain.ApplicationDO">
        update application
        <set>
            <if test="appId != null">`app_id` = #{appId}, </if>
            <if test="created != null">`created` = #{created}, </if>
            <if test="updated != null">`updated` = #{updated}, </if>
            <if test="status != null">`status` = #{status}, </if>
            <if test="userId != null">`user_id` = #{userId}, </if>
            <if test="appName != null">`app_name` = #{appName}, </if>
            <if test="appType != null">`app_type` = #{appType}, </if>
            <if test="appStatus != null">`app_status` = #{appStatus}, </if>
            <if test="appKey != null">`app_key` = #{appKey}, </if>
            <if test="appSecret != null">`app_secret` = #{appSecret}, </if>
            <if test="envType != null">`env_type` = #{envType}, </if>
            <if test="remark != null">`remark` = #{remark}, </if>
            <if test="appStore != null">`app_store` = #{appStore}, </if>
            <if test="android != null">`android` = #{android}, </if>
            <if test="webSite != null">`web_site` = #{webSite}</if>
        </set>
        where app_id = #{appId}
    </update>

    <delete id="remove">
        delete from application where id = #{value}
    </delete>

    <delete id="batchRemove">
        delete from application where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

	
	<select id="getAuthentication" resultType="int"
		parameterType="com.bootdo.application.dto.ApplicationDTO">
		select count(id)
		from application
		where
		app_key = #{appKey} and
		app_secret = #{appSecret} and
		status = 1;
	</select>

	<select id="findAppSecret" resultType="String" parameterType="String">
		 select app_key as appKey
		 from application
		 where app_key = #{appKey}
		 and status = 1
	</select>

</mapper>